body
{
	background-image: url('../img/back2.gif');
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #ffffff;
	margin-top: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.tooltip
{
   position: absolute;
   padding: 5px 6px;
   z-index: 3;
   
   color: #303030;
   background-color: #f0f0f0;
   border: 2px solid #9CC11C;
   
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   line-height: 18px;
   text-align: left;
}

h1
{
	font-family: Verdana, Arial, sans-serif; 
	color:#81a91b; /* #9CC11C */
	margin:0;
	margin-left:0px;
	padding-bottom:12px;
	font-size: 20px;
	font-weight:normal;
}

a.movie {color: #000000; text-decoration:none;}
a.movie:hover { color:#d1a91b;}

table.list td a{color: #000000; text-decoration:none;}
table.list td a:hover { color:#d1a91b;}


div.allofit
{
	margin-top: 30px;
	margin-left: 20px;
}

input.text
{
	width: 260px;
	font-size: 12px;
}
input.text2
{
	width: 100px;
	font-size: 12px;
	border:solid 1px #006699;
	background: #f0f0f0;
}

.loginbutton
{
	/*background: #f0f0ff url('../gfx/loginbutton.gif') no-repeat center -25px;*/
	border: 1px solid black;
	font-size: 10px;
	width: 80px;
	outline: none;
	height: 20px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	line-height: 15px;
	padding-bottom: 3px;
}
.loginbutton:hover
{
	/*background-position: center 0px;*/
	background-color: #81a91b;
	font-weight: bold;
	color: white;
}
span.info
{
	font-style: italic;
	font-size: 10px;
}

img
{
	border: 0px;
	vertical-align: middle;
}

table.list
{
	font-size: 12px;
	width: 485px;
}
table.list tr { margin: 0px; padding: 0px;}
table.list td { margin: 0px; padding: 0px; height: 24px;}
table.list tr.odd { background-color: #dCffbC;}
table.list img { }
td.tableleft
{
	background-image:url('../img/table_left.gif');
	width: 8px;
	height: 24px;
	margin: 0px; 
	padding: 0px; 
}
td.tableright
{
	background-image:url('../img/table_right.gif');
	width: 8px;
	height: 24px;
	margin: 0px; 
	padding: 0px; 
}

.feature
{
	width:212px;	
	float:right;
	margin:0 5px 5px 5px;	
}

.featurecontent
{
	background-image:url('../img/ferep.gif');
	background-repeat:repeat-y;
	padding-left:10px;
	padding-right:10px;
	color:#666;
	font-size:12px;
}
.featurecontent h1
{
	padding:0;
	margin-bottom: 10px;
	font-size:14px;
	color:#006699;
	font-weight:bold;
	text-align:center;
}
.featurecontent h2
{
	padding:0;
	font-size:13px;
	color:#81a91b; /* #9CC11C */
	font-weight:normal;
	border:0;
}
.featurecontent p
{
	margin: 0px;
	margin-bottom: 5px;
}

.featurecontent a, .featurecontent a:hover
{
	color:#006699;
	text-decoration:underline;
	font-weight:bold;
}
.featurecontent img
{
	vertical-align:middle;
}
.left
{
	float:left;
	width:450px;
	line-height:1.5em;
}
div.clear
{
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 0px;
}